body{
 margin: 0;
 background-color: #f5f1e6; 


}
.logo{
    margin-left: 30px;
    width: 50px;
    height: 50px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 20px;
    border-bottom: 1px solid #2e5942;
    
 
}
.links{
    margin-right: 20px;
  
}
 a{
margin: 15px;
    text-decoration: none;
    color: #302414;
        padding:8px ;
}
a:hover{
    background-color: #2e5942;
    color: #fefaf6;
    padding:8px ;
    border-radius: 8px;
}
.header{
  text-align: center;
 margin: 0;
 color: #2e5942;
}.card{
    display: flex;
justify-content: space-between;
margin:0 200px;
padding-top: 20px;
gap: 20px;
    

}

.webs{
    background-color: #ffffff;
    width: 300px;
    height: 330px;
  /*  border: 1px solid #2e5942;*/
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.webs img{
    width:150px;
    height:150px ;
    border-radius: 50%;
 margin: 20px;

}
.web-text{
 text-align: center;
}
footer{
   border-top:1px solid #2e5942 ;
    color: #2e5942;
    padding: 20px;
    text-align: center;
    margin-top: 200px;

}